<section class="about-me-container">
  <div class="about-me-content">
    <div class="about-me-apresentation">
      <p class="about-me-apresentation-hello">Olá, eu me chamo</p>
      <h1>Gabriel Carvalho</h1>
      <p class="about-me-apresentation-stack">Desenvolvedor full-stack</p>
      <p>
        Estudante de Análise e desenvolvimento de sitemas sou um entusiasta da tecnologia e apaixonado
        pelo universo do desenvolvimento. Desenvolvedor full-stack especializado em Java e Angular,
        criando Apis REST robustas e escaláveis, bancos de dados e ferramentas de segurança.
      </p>
    </div>
    <img src="/minha-foto.jpeg" alt="Minha foto de perfil">
  </div>

  <div>
    <a href="https://github.com/gabrielcarvalhogc" target="_blank" class="p-button"><i class="pi pi-github"></i></a>
    <a href="https://www.linkedin.com/in/gabrielcarvalhodev/" target="_blank" class="p-button"><i class="pi pi-linkedin"></i></a>
  </div>
  <p-button icon="pi pi-arrow-down" [rounded]="true"/>
</section>
