.about-me-container {
  height: calc(100vh + 113px);
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .about-me-content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .about-me-apresentation {
      width: 45%;

      .about-me-apresentation-hello {
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
        line-height: 0.4;
      }

      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin: 7px 0;
        color: var(--p-custom-secondary-custom);
      }

      .about-me-apresentation-stack {
        font-size: 1.3rem;
        font-weight: 700;
        margin: 0;
        line-height: 0.4;
      }
    }

    img {
      width: 400px;
      border-radius: 50%;
      box-shadow: 0 0 40px 20px var(--p-custom-box-shadow);
    }
  }

  a {
    margin: 0 20px;
    border-radius: 50%;
    padding: 12px;
    text-decoration: none;
  }
}

@media ((min-width: 900px) and (max-width:1100px)) {
  .about-me-container {
    padding: 0 5%;
  }
}

@media (max-width: 900px) {
  .about-me-container {
    padding: 0 5%;

    .about-me-content {
      flex-direction: column;
      align-items: center;


      .about-me-apresentation {
        width: 100%;
        text-align: center;
        margin: 10px 0;

        .about-me-apresentation-hello {
          font-size: 1.5rem;
        }

        h1 {
          font-size: 2rem;
        }

        .about-me-apresentation-stack {
          font-size: 1.1rem;
        }
      }

      img {
        width: 250px;
      }
    }
  }
}
