<footer id="contato">
  <h1>&lt;GC/&gt;</h1>
  <p>Gabriel Carvalho</p>
  <div>
    <a href="https://github.com/gabrielcarvalhogc" class="p-button" target="_blank">
      <i class="pi pi-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/gabrielcarvalhodev/" class="p-button" target="_blank">
      <i class="pi pi-linkedin"></i>
    </a>
  </div>
  <p><i class="pi pi-whatsapp"></i> (61) 99401-2764</p>
  <p> <i class="pi pi-envelope"></i> gabriel225gc&#64;gmail.com</p>
  <a class="p-button curriculo" download="">
    <i class="pi pi-download"></i> Baixar CV
  </a>
</footer>
