@import '../../../styles/variaveis';

.secao {
  margin:0 5%;

  &__titulo {
    color: $azul-claro;
    font-size: 1.5em;
    margin: 50px 0;
    text-align: center;
  }
}

.card {
  border: 2px solid $roxo;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  gap: 20px;
  margin-bottom: 5%;
  padding: 16px;

  &__img {
    border-radius: 16px;
    width: 400px;
    max-height: 380px;
    margin: auto 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__titulo {
      color: $azul-claro;
      font-size: 1.5em;
    }

    &__descricao {
      line-height: 2;
    }

    &__verMais {
      color: $azul-claro;
      font-size: .8em;
    }
  }

  &__info {
    &__paragrafo {
      margin: 10px 0;
      font-size: .9em;
    }

    &__links {
      display: flex;
      justify-content: space-around;
      margin: 20px 0;

      a {
        background-color: $azul-claro;
        color: $branco;
        padding: 8px 16px;
        text-decoration: none;
      }

      a:hover {
        box-shadow: 2px 2px 5px $branco;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .card {
    align-items: center;
    flex-direction: column;

    &__container {
      text-align: center;

      &__verMais {
        margin-top: 20px;
      }
    }

    &__info {
      &__links {
        a {
          font-size: 1em;
          padding: 6px 12px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .card {
    align-items: center;
    flex-direction: column;

    &__img {
      width: 280px;
    }

    &__container {
      text-align: center;

      &__titulo {
        font-size: 1.3em;
      }

      &__verMais {
        font-size: .8em;
        margin-top: 10px;
      }
    }

    &__info {
      &__paragrafo {
        font-size: .8em;
      }

      &__links {
        a {
          font-size: .8em;
          padding: 6px 12px;
        }
      }
    }
  }
}
