@import '../../../styles/variaveis';

.secao {
  margin: 0 10%;
}

.descricao {
  padding-top: 50px;

  &__titulo {
    font-size: 3em;
    width: 45%;
  }

  &__textos {
    font-size: 1.5em;
    line-height: 2em;
  }

  &__textos:last-child {
    color: $azul-claro;
  }
}

.sobre {
  padding: 100px 0;
  display: flex;
  gap: 30px;

  &__imagem {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  
  &__imagem:hover {
    box-shadow: 3px 0px 7px $azul-claro;
  }

  &__container {
    &__titulo {
      color: $azul-claro;
      font-size: 2em;
      font-weight: 700;
    }

    &__apresentacao {
      padding: 10px 0;
    }

    &__botoes {
      display: flex;
      justify-content: space-around;
      padding-top: 20px;

      a {
        text-decoration: none;
        color: $branco;
        text-align: center;
      }
      
      a:hover {
        box-shadow: 1px 2px 3px $branco;
      }
      
      &__linkedin {
        padding: 10px 20px;
        background-color: $azul-claro;
      }

      &__github {
        border: 3px solid $roxo;
        padding: 7px 17px;
      }
    }
  }
}

.experiencias {
  &__titulo {
    color: $azul-claro;
    text-align: center;
    font-size: 1.5em;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;

    img {
      width: 100px;
      height: 100px;
      transition: transform 0.3s ease;
    }

    img:hover {
      transform: scale(1.1);
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .descricao {
    &__titulo {
      font-size: 2.3em;
      width: 60%;
    }

    &__textos {
      font-size: 1.2em;
    }
  }

  .sobre {
    flex-direction: column;
    text-align: center;

    &__imagem {
      margin: 0 auto;
    }
  }

  .experiencias {
    &__container {
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}

@media (max-width: 480px) {
  .descricao {

    &__titulo {
      font-size: 2em;
      width: 90%;
    }

    &__textos {
      font-size: 1em;
    }
  }

  .sobre {
    flex-direction: column;
    text-align: center;

    &__imagem {
      margin: 0 auto;
      width: 200px;
      height: 200px;
    }
  }

  .experiencias {
    &__container {
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}