@import '../../styles/variables';

.rodape {
  background-color: $purple;
  border-radius: 32px 32px 0 0 ;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;

  .container {
    color: $white;
    text-align: center;
    text-decoration: none;

    .info {
      min-width: 160px;
    }

  }

  .container:last-child {
    cursor: pointer;
  }

  .container:hover {
    scale: 1.1;
    transition: .4s;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .rodape {
    .container {

      .info {
        font-size: .8em;
        min-width: 140px;
      }
    }

    .container:hover {
      scale: 1;
    }
  }
}

@media (max-width: 480px) {
  .rodape {
    border-radius: 16px 16px 0 0;
    flex-direction: column;
    gap: 15px;

    .container {
      align-items: center;
      display: flex;
      gap: 5px;
      padding-left: 20px;

      .info {
        font-size: .7em;
        min-width: auto;
      }
    }

    .container:hover {
      scale: 1;
    }
  }
}