h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 7px 0;
  color: var(--p-custom-secondary-custom);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--p-custom-secondary-custom);
}

.hard-skills-container {
  display: flex;
  padding: 0 10%;
  justify-content: space-between;

  .hard-skills-content {
    margin-top: 113px;
    width: 40%;
  }

  .hard-skills-list {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 113px;

    .skill {
      background-color: var(--p-custom-skills-background);
      width: 100px;
      height: 130px;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        padding-top: 10px;
      }
    }
  }
}

.soft-skills-container {
  padding: 0 10%;

  .divider {
    width: 40%;
  }

  .soft-skills-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    .soft-skills-item {
      .soft-skills-item-number {
        display: flex;
        align-items: center;

        span {
          font-weight: 700;
          font-size: 1.2rem;
        }

        div {
          height: 20px;
          background-color: var(--p-custom-secondary-custom);
          margin-left: 5px;
          width: 90%;
          border-radius: 4px;
        }
      }

      .soft-skills-subtitle {
        font-weight: 700;
        font-size: 1.2rem;
        margin: 8px 0;
      }

      .soft-skills-text {
        margin: 0;
      }
    }
  }
}

@media ((min-width: 900px) and (max-width:1100px)) {
  .hard-skills-container,
  .soft-skills-container {
    padding: 0 5%;
  }

  .hard-skills-container {
    .hard-skills-list {
      width: 55%;
    }
  }
}

@media (max-width: 900px) {
  .hard-skills-container,
  .soft-skills-container {
    padding: 0 5%;
    flex-direction: column;
    align-items: center;

    .divider {
      width: 100%;
    }

    .hard-skills-content,
    .soft-skills-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .hard-skills-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;

      .skill {
        margin: auto;
        max-width: 170px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: .9rem;
      }
    }
  }
}
