@import './styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $dark-blue;
  font-family: $font;
  color: $white;
}

html {
  scroll-behavior: smooth;
}