@import "../../styles/variables";

.aboutMe {
  padding: 100px 0;

  div {
    text-align: center;

    h2 {
      color: $light-blue;
      font-size: 2.3em;
      font-weight: 700;
    }

    p {
      margin: 15px 0;
      font-size: 1.1em;
      line-height: 1.5;
    }

    .container__links {
      display: flex;
      justify-content: space-around;
      padding-top: 20px;

      a {
        text-decoration: none;
        color: $white;
        text-align: center;
      }

      .container__links__linkedin {
        padding: 10px 20px;
        background-color: $light-blue;
      }

      .container__links__linkedin:hover {
        color: $dark-blue;
      }

      .container__links__github {
        border: 3px solid $purple;
        padding: 7px 17px;
      }

      .container__links__github:hover {
        color: $light-blue;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .aboutMe {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .aboutMe {
    display: flex;
    flex-direction: column;
  }
}